<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand ps-3 text-white" href="#">FIT2095</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="driverDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Drivers Actions
          </a>
          <div class="dropdown-menu" aria-labelledby="driverDropdown">
            <a class="dropdown-item " routerLink="add-driver">Add Driver</a>
            <a class="dropdown-item" routerLink="list-drivers">List Drivers</a>
            <a class="dropdown-item" routerLink="delete-driver">Delete Driver</a>
            <a class="dropdown-item" routerLink="update-driver">Update Driver</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="packageDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Packages Actions
          </a>
          <div class="dropdown-menu" aria-labelledby="packageDropdown">
            <a class="dropdown-item" routerLink="add-package">Add Package</a>
            <a class="dropdown-item" routerLink="list-packages">List Packages</a>
            <a class="dropdown-item" routerLink="delete-package">Delete Package</a>
            <a class="dropdown-item" routerLink="update-package">Update Package</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="cloudDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Cloud Service Actions
          </a>
          <div class="dropdown-menu" aria-labelledby="cloudDropdown">
            <a class="dropdown-item" routerLink="/translate">Translate</a>
            <a class="dropdown-item" routerLink="/text-to-speech">Text 2 Speech</a>
            <a class="dropdown-item" routerLink="/generative-ai">Generative AI</a>
          </div>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" routerLink="statistics">Statistics</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="btn btn-primary" routerLink="login">Login</a>
        </li>
      </ul>
    </div>
  </nav>
  
