<div class="card bg-info">
    <div class="row">
        <!-- Student Name -->
        <div class="col-sm-3 ps-5 mb-1">
            <h1><b>Jin Ruo</b> <br><b>Yew</b></h1>
        </div>

        <!-- About Us -->
        <div class="col-sm-5 mb-1">
            <h5><b>About Us</b></h5>
            <p>
                I am a Year 3 Sem 1 Computer Science student at Monash Uni 
                currently working as the CTO of company XYZ. <br>
                Our company is a startup that focuses on developing <br>
                software solutions for the logistics industry.
            </p>
        </div>

        <!-- Contact Us -->
        <div class="col-sm-4 mb-1">
            <h5><b>Contact Us</b></h5>
            <p>
                Email: jyew0006&#64;student.monash.edu<br>
                Tel No: +61401321433 <br>
                Student ID: 33343276<br>
                Address: FIT2095, FIT, Monash University
            <p>
        </div>
    </div>
    <p style="color: rgb(43, 40, 40);">&#64;2024 Package Delivery  Management Application. All rights reserved.</p>
</div>
