<html>
    <head>
        <link href="/bootstrap.min.css" rel="stylesheet"/>
        <style>
            .image-title-container img {
                max-width: 100%; 
                max-height: 100%; 
                object-fit: contain; 
            }
            .image-title-container {
                display: flex;
                align-items: center; 
            }
            .centered-form {
                display: flex;
                justify-content: center; 
                align-items: center; 
            }
        </style>
    </head>
    <body>
        <div class="card">
            <div class="card-header bg-primary">
                <div class="row image-title-container">
                    <div class="col" style="flex: 1;">
                        <img src="/logo.png" alt="Logo">
                    </div>
                    <div class="col text-white " style="flex: 6;">
                        <h1 style="font-size: xxx-large">Add New Driver Form</h1>
                    </div>
                </div>
            </div>

            <%- include('./partials/navbar'); %>

            <div class="card-body centered-form">
                <form action="/33343276/JinRuo/add-driver" method="post">
                    <div class="form-group">
                        <label for="driver_name">Driver Name:</label>
                        <input type="text" id="driver_name" name="driver_name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="driver_department">Driver Department:</label>
                            <select id="driver_department" name="driver_department" class="form-select">
                                <option value="Food" selected>Food</option>
                                <option value="Furniture">Furniture</option>
                                <option value="Electronic">Electronic</option>
                            </select>
                    </div>
                    <div class="form-group">
                        <label for="driver_licence">Driver Licence:</label>
                        <input type="text" id="driver_licence" name="driver_licence" class="form-control">
                    </div>
                    <div class="form-group">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="driver_isActive" name="driver_isActive">
                            <label class="form-check-label" for="driver_isActive">isActive</label>
                        </div>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </body>
    <footer class="footer">
        <%- include('./partials/footer'); %>
    </footer>
</html>