<html>
    <head>
        <link href="/bootstrap.min.css" rel="stylesheet"/>
        <style>
            .image-title-container img {
                max-width: 100%; 
                max-height: 100%; 
                object-fit: contain; 
            }
            .image-title-container {
                display: flex;
                align-items: center; 
            }
            .centered-form {
                display: flex;
                justify-content: center; 
                align-items: center; 
            }
        </style>
    </head>
    <body>
        <div class="card">
            <div class="card-header bg-primary">
                <div class="row image-title-container">
                    <div class="col" style="flex: 1;">
                        <img src="/logo.png" alt="Logo">
                    </div>
                    <div class="col text-white " style="flex: 6;">
                        <h1 style="font-size: xxx-large">Delete Package Form</h1>
                    </div>
                </div>
            </div>

            <%- include('./partials/navbar'); %>

            <div class="card-body centered-form">
                <form id="deletePackage" action="/33343276/JinRuo/delete-package" method="get">
                    <div class="form-group pb-3">
                        <label for="package_id">Package ID:</label>
                        <input type="text" id="package_id" name="package_id" class="form-control">
                    </div>
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form>
            </div>
        </div>
        <script>
            document.getElementById("deletePackage").onsubmit = function() {
                const packageId = document.getElementById('package_id').value;
                this.action = `/33343276/JinRuo/delete-package-req?package_id=${packageId}`;
            };
        </script>
    </body>
    <footer class="footer">
        <%- include('./partials/footer'); %>
    </footer>
</html>