<html></html>
    <head>
        <link href="/bootstrap.min.css" rel="stylesheet"/>
        <style>
            .image-title-container img {
                max-width: 100%; 
                max-height: 100%; 
                object-fit: contain; 
            }
            .image-title-container {
                display: flex;
                align-items: center;
            }
        </style>
    </head>
    <body>
        <div class="card bg-primary">
            <div class="row image-title-container">
                <div class="col" style="flex: 1;">
                    <img src="/logo.png" alt="Logo">
                </div>
                <div class="col text-white " style="flex: 6;">
                    <h1 style="font-size: xxx-large">Login Form</h1>
                </div>
            </div>
        </div>

        <%- include('./partials/navbar'); %>

        <div class="card-body centered-form">
            <form action="/33343276/JinRuo/users/login" method="post">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" class="form-control">
                </div>
                <button class="btn btn-primary" type="submit">Login</button> <br>
                <div class="container pt-5">
                    <a href="/33343276/JinRuo/users/signup">
                        <button class="btn btn-secondary" type="button">Sign Up</button>
                    </a>
                </div>      
            </form>
        </div>
        
    </body>
    <footer class="footer">
        <%- include('./partials/footer'); %>
    </footer>
</html>