<html>
    <head>
        <link href="/bootstrap.min.css" rel="stylesheet"/>
        <style>
            .image-title-container img {
                max-width: 100%; 
                max-height: 100%; 
                object-fit: contain; 
            }
            .image-title-container {
                display: flex;
                align-items: center;
            }
        </style>
    </head>
    <body>
        <div class="card bg-primary">
            <div class="row image-title-container">
                <div class="col" style="flex: 1;">
                    <img src="/logo.png" alt="Logo">
                </div>
                <div class="col text-white " style="flex: 6;">
                    <h1 style="font-size: xxx-large">Package Delivery Management Application</h1>
                </div>
            </div>
        </div>

        <%- include('./partials/navbar'); %>

        <div class="container pt-3 ps-5">
            <h5>Page not found. Please go back to Homepage.</h5>
        </div>
    </body>
    <footer class="footer">
        <%- include('./partials/footer'); %>
    </footer>
</html>