<html>
    <head>
        <link href="/bootstrap.min.css" rel="stylesheet"/>
        <style>
            .image-title-container img {
                max-width: 100%; 
                max-height: 100%; 
                object-fit: contain; 
            }
            .image-title-container {
                display: flex;
                align-items: center;
            }
        </style>
    </head>
    <body>
        <div class="card bg-primary">
            <div class="row image-title-container">
                <div class="col" style="flex: 1;">
                    <img src="/logo.png" alt="Logo">
                </div>
                <div class="col text-white " style="flex: 6;">
                    <h1 style="font-size: xxx-large">Package Delivery Management Application</h1>
                </div>
            </div>
        </div>

        <%- include('./partials/navbar'); %>

        <div class="card">
            <div class="card-body centered-form">
                <form action="/33343276/JinRuo/list-drivers-dept" method="post">
                    <div class="form-group pb-3">
                        <label for="driver_department">Driver Department:</label>
                            <select id="driver_department" name="driver_department" class="form-select">
                                <option value="Food" selected>Food</option>
                                <option value="Furniture">Furniture</option>
                                <option value="Electronic">Electronic</option>
                            </select>
                    </div>
                    <button class="btn btn-primary" type="submit">Select</button>
                </form>
            </div>
        </div>
    </body>
    <footer class="footer">
        <%- include('./partials/footer'); %>
    </footer>
</html>